body{
    background-image: url("../images/pexels-photo-374684\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;

}

.container{
    background-color: rgb(37, 37, 37);
    color: white;
}

.jumbotron{
    color: rgb(37, 37, 37);
}